apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-sync-to-healthy-exporter
  namespace: exporter
  labels:
    app: sync-to-healthy-exporter
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sync-to-healthy-exporter
  template:
    metadata:
      labels:
        app: sync-to-healthy-exporter
        # (Optional, helpful if you ever select by this in Prom stack)
        release: kube-prometheus-stack
    spec:
      serviceAccountName: argocd-apps-reader
      containers:
      - name: exporter
        image: pb122136/argocd-sync-to-healthy-exporter:1.1.0
        imagePullPolicy: IfNotPresent
        env:
        - name: CLUSTER
          value: "us-east-1.prod-main"
        ports:
        - name: http
          containerPort: 8000
        readinessProbe:
          httpGet:
            path: /metrics
            port: http
          initialDelaySeconds: 5
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /metrics
            port: http
          initialDelaySeconds: 10
          periodSeconds: 20
          failureThreshold: 3
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          runAsUser: 10001
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: tmp
          mountPath: /tmp
      volumes:
      - name: tmp
        emptyDir: {}
